:root {
  --clr-neutral-white: #ffffff;
  --clr-neutral-black: #050707;
  --clr-neutral-gray-100: #2f3e53;
  --clr-neutral-gray-200: #d5d4d8;

  --clr-accent-dark-blue: #021123;
  --clr-accent-green-100: #ccf7f6;
  --clr-accent-green-200: #b4eddd;
  --clr-accent-green-dark: #4f6d31;
  --clr-accent-green-very-dark: #233610;

  --ff-inter: "Inter", sans-serif;
  --ff-roboto: "Roboto Slab", serif;

  --fs-sm: 0.875rem;
  --fs-base: 1rem;
  --fs-md: 1.1125rem;
  --fs-lg: 1.5rem;
  --fs-xl: 2rem;

  --fw-inter-400: 400;
  --fw-inter-500: 500;
  --fw-inter-700: 700;

  --br-size-100: 5px;
  --br-size-200: 10px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

hr {
  border: 1px solid var(--clr-neutral-gray-100);
  margin-bottom: 1em;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: var(--clr-neutral-white);
  background-image: url("bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font: inherit;
  font-size: var(--fs-base);
}

/* Utilitilies */
.text-center {
  text-align: center;
}

.display-none {
  display: none;
}

/* blocks */
.container {
  width: 500px;
  max-width: 90%;
  background-color: var(--clr-accent-dark-blue);
  border-radius: var(--br-size-200);
  box-shadow: 20px 20px 20px var(--clr-neutral-black);
  padding: 2.5em 1.5em;
  margin: 1em 0;
}

.title {
  font-family: "Tiro Devanagari Hindi", serif;
  font-size: var(--fs-lg);
  font-weight: var(--fw-inter-400);
  text-transform: uppercase;
  letter-spacing: 3px;
  text-shadow: 2px 2px 2px var(--clr-accent-green-200);
}

.subtitle {
  color: var(--clr-neutral-white);
  font-family: var(--ff-roboto);
  font-size: var(--fs-md);
  text-align: justify;
  opacity: 0.5;
  margin: 1em 0;
}

.checkbox-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: var(--fs-sm);
  font-family: var(--ff-inter);
  font-weight: var(--fw-inter-400);
  margin-bottom: 1.2em;
}
.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkbox input {
  width: 12px;
  height: 12px;
  opacity: 0.7;
  margin-right: 0.3em;
}

.input-length {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.2em;
}

.input-length input {
  width: 50px;
  color: var(--clr-neutral-black);
  background-color: var(--clr-accent-green-100);
  border: none;
  border-radius: var(--br-size-100);
  padding: 0.3em 0.5em;
}

.input-length label {
  font-size: var(--fs-base);
  margin-right: 0.5em;
  font-family: var(--ff-inter);
  font-weight: var(--fw-inter-400);
}

.btn {
  width: 100%;
  display: inline-block;
  color: var(--clr-neutral-white);
  background-color: var(--clr-accent-green-dark);
  border: none;
  border-radius: var(--br-size-100);
  transition: all 250ms;
  padding: 0.7em 0.5em;
  margin-bottom: 1.5em;
}

.btn:hover {
  cursor: pointer;
  background-color: var(--clr-accent-green-very-dark);
}

.password-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5em;
}

.password-result {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  color: var(--clr-accent-green-200);
  background-color: var(--clr-neutral-black);
  border-radius: var(--br-size-100);
  margin-bottom: 1em;
}

.password-result p {
  margin: 0 auto;
}

.clipboard {
  height: 100%;
  background-color: transparent;
  color: var(--clr-accent-green-200);
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--clr-accent-green-200);
  border: none;
  transition: all 250ms;
  padding: 1em 0.8em;
}

.clipboard span {
  text-transform: uppercase;
}

.clipboard:hover {
  cursor: pointer;
  background-color: var(--clr-accent-green-very-dark);
}

.clipboard svg {
  width: 15px;
  height: 15px;
  margin-right: 0.2em;
}

.clipboard-copied {
  display: none;
  color: var(--clr-accent-green-200);
  margin: 0.5em 0 1em 0;
  text-transform: uppercase;
}

.display-block {
  display: block;
}

.reset {
  background-color: rgb(236, 40, 40);
  color: var(--clr-neutral-gray-200);
  border: none;
  border-radius: var(--br-size-100);
  transition: all 250ms;
  padding: 0.7em 1em;
}
.reset:hover {
  cursor: pointer;
  background-color: rgb(180, 11, 11);
}

.footer {
  width: 500px;
  max-width: 90%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--clr-accent-green-very-dark);
  padding: 0.5em 1em;
}

.footer p {
  font-size: 12px;
}
.footer a {
  font-size: 14px;
  text-transform: uppercase;
  color: blue;
  transition: all 250ms;
}

.footer a:hover,
.footer a:active {
  font-size: 16px;
  color: rgb(56, 56, 248);
}

/* Media Queries */
@media (min-width: 600px) {
  /* body {
    justify-content: center;
  } */

  .container {
    padding: 2em;
  }

  .title {
    font-size: var(--fs-xl);
  }

  .subtitle {
    text-align: center;
  }

  .checkbox {
    margin-right: 1em;
  }

  .checkbox-list {
    justify-content: center;
  }

  .btn {
    padding: 1em;
  }

  .password-list {
    flex-direction: row;
    justify-content: space-between;
  }

  .password-result {
    width: 48%;
  }

  .footer {
    flex-direction: row;
  }
}
